.header-main {
  background-color: purple;
  height: 10vh;
  display: flex;
  justify-content: center;
}
.search-div {
  align-self: center;
}
.search-input {
  height: 20px;
}
.search-button {
  width: 100px;
  height: 25px;
  margin-left: 5px;
}
.switch {
  position: relative;
  height: 34px;
}

.toggle-div {
  position: absolute;
  right: 1vw;
  top: 3vh;
  background-color: white;
  border-radius: 15px;
  justify-content: center;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}
